/* =============
    Header
============= */
header{

    background-color: var(--dark-grey);
    padding: 18px 0 20px;

}

div{

    section{
        img{
            width: 40px;
        }
    }
    section{
        img{
            width: 40px;
            display: grid;
            grid-template-columns: auto 40px;
        }
    }
}